.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 3rem;
    border-bottom: 1px solid black;
    position: fixed;
    background-color: white;
    z-index: 1;
    padding: 0 1rem;
}

.burgerMenu {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
}

.navLinks {
    display: flex;
    margin-left: 1rem;
    list-style: none;
    transition: max-height 0.3s ease-in-out;
}

.navItem {
    text-decoration: none;
    margin-right: 1rem;
    color: black;
    font-weight: bold;
}

.navItem:hover {
    cursor: pointer;
    text-decoration: overline underline;
}

@media (max-width: 768px) {
    .burgerMenu {
        display: block;
    }

    .navLinks {
        display: block;
        position: absolute;
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: white;
        max-height: 0;
        overflow: hidden;
        margin: 0;
        border-bottom: 1px solid black;
    }

    .navLinks.open {
        max-height: 20rem;
    }

    .navItem {
        display: block;
        padding: 1rem;
        margin: 0;
        text-align: center;
    }
}